/* MainWP Child Reports Records */

.mainwp_wp_stream_screen .tablenav {
	padding-top: 6px;
}

.mainwp_wp_stream_screen .tablenav.bottom .button {
	margin-right: 6px;
}

.mainwp_wp_stream_screen .tablenav .actions {
	padding: 0;
	overflow: visible;
}

.mainwp_wp_stream_screen .chosen-container-single {
	margin-top: 3px;
	margin-right: 6px;
}

.mainwp_wp_stream_screen .view-switch {
	display: none;
}

.mainwp_wp_stream_screen #filter-date-range {
	float: left;
	margin-right: 6px;
}

.mainwp_wp_stream_screen .column-author {
	width: 15%;
}

.mainwp_wp_stream_screen .column-date,
.mainwp_wp_stream_screen .column-context,
.mainwp_wp_stream_screen .column-action,
.mainwp_wp_stream_screen .column-connector,
.mainwp_wp_stream_screen .column-ip,
.mainwp_wp_stream_screen .column-id {
	width: 10%;
}

.mainwp_wp_stream_screen .stream-filter-object-id {
	padding-left: 5px;
	visibility: hidden;
}
.mainwp_wp_stream_screen td.summary:hover .stream-filter-object-id {
	visibility: visible;
}

@media only screen and (min-width: 782px) {
	.mainwp_wp_stream_screen .tablenav .tablenav-pages {
		margin-bottom: 4px;
	}
}

@media only screen and (max-width: 782px) {
	.mainwp_wp_stream_screen .tablenav.bottom .displaying-num {
		top: -8px;
	}
}

@media only screen and (max-width: 900px) {
	.mainwp_wp_stream_screen .fixed .column-context,
	.mainwp_wp_stream_screen .fixed .column-action,
	.mainwp_wp_stream_screen .fixed .column-connector,
	.mainwp_wp_stream_screen .fixed .column-ip,
	.mainwp_wp_stream_screen .fixed .column-id {
		display: none;
	}
	.mainwp_wp_stream_screen .fixed .column-date,
	.mainwp_wp_stream_screen .fixed .column-author {
		display: table-cell;
	}
	.mainwp_wp_stream_screen .fixed .column-date {
		width: 100px;
	}
	.mainwp_wp_stream_screen .fixed .column-author {
		width: 33%;
	}
}

@media only screen and (max-width: 480px) {
	.mainwp_wp_stream_screen .fixed .column-author {
		display: none;
	}
}

.mainwp_wp_stream_screen .column-author a {
	vertical-align : top;
}

.mainwp_wp_stream_screen .column-author img {
	float: left;
	margin-right: 10px;
	margin-top: 1px;
	width: 40px;
	height: 40px;
}

.mainwp_wp_stream_screen .column-author .deleted {
	font-style: italic;
	color: #aaa;
}

.mainwp_wp_stream_screen .filter-date-range {
	margin-top: -1px;
}

.mainwp_wp_stream_screen .alignleft.actions input[type=text] {
	height: 28px;
	line-height: 19px;
}

.mainwp_wp_stream_screen .date-interval {
	display: inline;
}

.mainwp_wp_stream_screen .select2-container {
	margin-right: 6px;
	margin-bottom: 6px;
}

.mainwp_wp_stream_screen .select2-container.select2-allowclear .select2-choice abbr {
	margin-top: -2px;
}


/* Live Update */

.mainwp_wp_stream_screen .stream-live-update-checkbox .spinner {
	margin-top: 5px;
}

.mainwp_wp_stream_screen .new-row,
#dashboard_stream_activity .new-row {
	background-color: #ffffe0;

	-webkit-transition: background 0.5s linear;
	   -moz-transition: background 0.5s linear;
	    -ms-transition: background 0.5s linear;
	     -o-transition: background 0.5s linear;
	        transition: background 0.5s linear;
}

.mainwp_wp_stream_screen .new-row.fadeout,
#dashboard_stream_activity .new-row.fadeout {
	background-color: transparent;
}


/* Settings */

.stream_page_mainwp_wp_stream_settings .nav-tab-wrapper a:not(.nav-tab-active) {
	border-bottom: 1px solid #ccc;
}

.stream_page_mainwp_wp_stream_settings .select2-container {
	width: 350px;
}


/* Date Interval Common */

.mainwp_wp_stream_screen .date-interval .field-predefined {
	width: 165px;
	float: left;
	margin-right: 6px;
	margin-bottom: 6px;
}

.mainwp_wp_stream_screen .date-interval .date-inputs {
	float: left;
	margin-right: 6px;
	margin-bottom: 6px;
}

.mainwp_wp_stream_screen .date-interval .date-inputs .field-to,
.mainwp_wp_stream_screen .date-interval .date-inputs .field-from {
	line-height: 28px;
	height: 28px;
	margin: 0;
	width: 125px;
}

.mainwp_wp_stream_screen .date-interval .date-inputs .box {
	position: relative;
	display: block;
	float: left;
}

.mainwp_wp_stream_screen .date-interval .date-inputs .box .date-remove {
	display: none;
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	width: 20px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	padding-top: 1px;
	padding-right: 2px;
}

.mainwp_wp_stream_screen .date-interval .date-inputs .box .date-remove:before {
	content: '\f158';
}

.mainwp_wp_stream_screen .date-interval .date-inputs .connector {
	display: block;
	float: left;
	border: 1px solid #ddd;
	border-left: 0;
	border-right: 0;
	height: 26px;
	line-height: 28px;
	padding-left: 2px;
	width: 20px;
	text-align: center;
	font-size: 14px;
}

.mainwp_wp_stream_screen .date-interval .date-inputs .connector:before {
	content: '\f345';
}


/* Select2 Common */

.mainwp_wp_stream_screen li.select2-searching {
	background: none;
	padding: 3px 7px 0;
}

.mainwp_wp_stream_screen li.select2-result {
	margin-bottom: 1px;
}

.mainwp_wp_stream_screen .select2-results .select2-disabled {
	background: transparent;
	color: #aaa;
}

.mainwp_wp_stream_screen .select2-search-choice .icon16 {
	margin: -6px 1px 0 -3px;
	padding: 0;
	width: 16px;
	height: 16px;
}

.mainwp_wp_stream_screen .select2-search-choice .icon16:before {
	font-size: 15px !important;
	color: #656565;
}

.mainwp_wp_stream_screen .select2-search-choice-close {
	-webkit-transition: none;
	   -moz-transition: none;
	     -o-transition: all 0 none;
	        transition: none;
}

.wp-stream-select2-icon {
	    position: relative;
	         top: 3px;
	margin-right: 4px;
	width: 16px;
	height: 16px;
}

.select2-disabled .wp-stream-select2-icon {
	        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	        filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	   -moz-filter: grayscale(100%); /* Firefox < 3.5 */
}


